@model lib.Blog.Objects.Post

@if (Model != null)
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-sm-between">
                    <h3>@Model.Title</h3>
                </div>
                <p class="text-muted p-0 m-0">@(Model.Modified != null ? "(ред.)" : "")</p>
            </div>
            <div class="modal-body">
                @Model.Text
            </div>
            <div class="d-flex">
                <div class="modal-tags mb-0 col">
                    @if (Model.Tags.Count != 0)
                    {
                        <i class="fa fa-tag mb-0"></i>
                        var tags = string.Join(", ", Model.Tags.Select(t => t.Name)).Split(", ");
                        foreach (var tag in tags)
                        {
                            @Html.ActionLink(tag + ", ",
                                "Search",
                                "Blog",
                                new
                                {
                                    query = string.Empty,
                                    tag = tag.Trim(',')
                                },
                                new
                                {
                                    @class = "mb-0 link-unstyled text-muted"
                                })
                        }
                    }
                </div>
                <p class="mb-0 pe-2 text-muted">Опубликовано: @Model.PostedOn</p>
            </div>
        </div>
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
      var scrollbar = document.body.clientWidth - window.innerWidth + 'px';
      console.log(scrollbar);
      document.querySelector('[href="#openModal"]').addEventListener('click', function () {
        document.body.style.overflow = 'hidden';
        document.querySelector('#openModal').style.marginLeft = scrollbar;
      });
      document.querySelector('[href="#close"]').addEventListener('click', function () {
        document.body.style.overflow = 'visible';
        document.querySelector('#openModal').style.marginLeft = '0px';
      });
    });
  </script>